
.carousel-cover {
    max-height: 80vh;
    object-fit: cover;
  }

.position-bottom {
    object-position: bottom;
}
.position-center {
    object-position: center;
}
.position-top {
    object-position: top;
}

.card-cover {
    max-height: 250px;
    height: 250px;
    object-fit: cover;
}